{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
<br><br><br><br><br>
<br><br>
<link rel='stylesheet' type='text/css' href='{% static "css/detail.css"%}'>
        
    <div class="detail_box">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.pub_date }}</p>
        {% if blog.image %}
        <img src="{{ blog.image.url }}" weight = 100 height=200>
        {% endif %}
        <p>{{ blog.body }}</p>

<!-- 네이버 지도 API -->
{% comment %} <div id="map" style="width:100%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);
</script> {% endcomment %}

            <form action ="{% url 'blog_like' blog.id %}" method = "POST">
                {% csrf_token %}
                <button type="submit" value="Like"> + {{ blog.like_count }}</button>
            </form>


            
            {% for like_user in blog.like_user_set.all %}
                <p>{{ like_user.username }}</p>
            {% endfor %}
        {% comment %} {% if blog.author == user %} {% endcomment %}
        <a href="{% url 'modify' blog.id %}" style="color :#3e4149; background-color: #fec8c9; background-color: white; text-decoration: none; border-radius: 0.5em;">수정하기</a>
        <a href="{% url 'delete' blog.id %}"  onclick="return confirm('정말 삭제하시겠습니까?')" style="color :#3e4149; background-color: white; text-decoration: none; border-radius: 0.5em;">삭제하기</a>
        {% comment %} {% endif %} {% endcomment %}
        <hr>
        <h2>댓글</h2>
        <form action="{% url 'comment_write' blog_pk=blog.pk %}" method = 'POST'>
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글을 작성해주세요">
            <input type ="submit" value="Write"/>
        </form>
        {% for comment in blog.comments.all %}
        <div class="comment">
            <div class="date">{{comment.comment_date}}</div>
            <p>{{ comment.comment_contents }}</p>
                    {% if comment.author == user %}
            <a href="{% url 'comment_delete' comment_id=comment.id blog_id=blog.id%}">삭제</a>
                    {% endif %}
        </div>
        {% empty %}
        <p>댓글이 없슴둥</p>
        {% endfor %}

        {% comment %} <form action="{% url 'comment_write' blog_pk=blog.pk %}" method = 'POST'>
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글을 작성해주세요">
            <input type ="submit" value="Write"/>
        </form> {% endcomment %}
        <hr>
        <a  href="{% url 'index' %}" style="color :#3e4149; background-color: #fec8c9; text-decoration: none; background-color: white; border-radius: 0.5em;" >돌아가기</a>
    </div>
{% endblock %}