{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
<br><br><br><br><br>
<link rel='stylesheet' type='text/css' href='{% static "css/index.css"%}'>
    
<div class = "main_box">
멈마 index 페이지 임둥ㅎ;;
<img src="{% static '제목 없음.png'%}" width="300" height="200" alt="">
</div>

<br>
<hr>
    {% for blog in blogs %}
        <div class = "container">
            <h1>{{ blog.title}} </h1>
            <p>{{ blog.pub_date }}</p>
            {% if blog.image %}
            <img src="{{blog.image.url}}" height=200>
            {% endif %}
            <p> {{ blog.summary }}<a href="{% url 'detail' blog.id%}">...more</a> </p>
        </div>
        <hr>
    {% endfor %}
    
    {% if blogs.has_previous %}
    <a href="?page=1">첫번째</a>
    <a href="?page={{blogs.previous_page_number}}">이전페이지</a>
    {% endif %}

    <span>{{blogs.number}}</span>
    <span>/</span>
    <span>{{blogs.paginator.num_pages}}</span>

    {% if blogs.has_next %}
    <a href="?page={{blogs.next_page_number}}">다음</a>
    <a href="?page={{blogs.paginator.num_pages}}">마지막</a>
    {% endif %}	

{% endblock %}