{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
<br><br><br><br><br>
<h1>detail 페이지 임니둥~!!ㅎㅎ</h1>
    
    <div class="container jumbotron">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.pub_date }}</p>
        {% if blog.image %}
        <img src="{{ blog.image.url }}" weight = 100 height=200>
        {% endif %}
        <p>{{ blog.body }}</p>

<!-- 네이버 지도 API -->
{% comment %} <div id="map" style="width:100%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);
</script> {% endcomment %}

            <form action ="{% url 'blog_like' blog.id %}" method = "POST">
                {% csrf_token %}
                <button type="submit" value="Like">좋아요</button>
            </form>


            <p>좋아요 {{ blog.like_count }}개</p>
            {% for like_user in blog.like_user_set.all %}
                <p>{{ like_user.username }}</p>
            {% endfor %}

        <a href="{% url 'modify' blog.id %}">수정하기</a>
        <a href="{% url 'delete' blog.id %}">삭제하기</a>
        <hr>
        {% for comment in blog.comments.all %}
        <div class="comment">
            <div class="date">{{comment.comment_date}}</div>
            <p>{{ comment.comment_contents }}</p>
            <a href="{% url 'comment_delete' comment_id=comment.id blog_id=blog.id%}">삭제</a>
        </div>
        {% empty %}
        <p>댓글이 없슴둥</p>
        {% endfor %}

        <form action="{% url 'comment_write' blog_pk=blog.pk %}" method = 'POST'>
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글을 작성해주세요">
            <input type ="submit" value="Write"/>
        </form>
        <hr>
        <a href="{% url 'index' %}">돌아가기</a>
    </div>
{% endblock %}